---
{% set name = env_prefix|lower + '-' + inventory_hostname|replace('_', '-')|lower + '-' + env_ulid|lower %}
name: "{{ name }}"
region: "{{ region|default(aws_default_region) }}"
arn: "arn:aws:s3:::{{ name }}"
