---
{% set name = env_prefix|lower + '-' + inventory_hostname|replace('_', '-')|lower %}
name: "{{ name }}"
region: "{{ aws_region }}"
arn: "arn:aws:sns:{{ aws_region }}:{{ aws_account }}:{{ name }}"
