---
{% set name = env_prefix|lower + '-' + inventory_hostname|replace('_', '-')|lower %}
name: "{{ name }}"
region: "{{ region|default(aws_default_region) }}"
arn: "arn:aws:sns:{{ region|default(aws_default_region) }}:{{ aws_account }}:{{ name }}"
