{% set service_types = ['iam_user', 'sqs_queue', 'sns_topic', 's3_bucket'] %}
{% for aws_type in service_types %}
[aws_{{ aws_type }}]
{% for name, item in aws_logical_inventory[aws_type + 's'].iteritems() %}{% if include_test_inventory or not item.test|default(False) %}
{{ name }}
{% endif %}{% endfor %}

[aws_{{ aws_type }}:vars]
aws_type={{ aws_type }}

{% endfor %}

[test_infrastructure]
{% if include_test_inventory %}
{% for aws_type in service_types %}
{% for name, item in aws_logical_inventory[aws_type + 's'].iteritems() %}
{% if item.test|default(False) %}
{{ name }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
