{{ item.name }}	name="{{ item.registration.user_meta.access_keys[0].user_name }}"	aws_access_key="{{ item.registration.user_meta.access_keys[0].access_key_id }}"	aws_secret_key="{{ item.registration.user_meta.access_keys[0].secret_access_key }}"	ansible_connection=local gather_facts=false
