[aws_control]
{{ item.name }}	name="{{ item.registration.user_meta.access_keys[0].user_name }}"	user_aws_access_key="{{ item.registration.user_meta.access_keys[0].access_key_id }}"	user_aws_secret_key="{{ item.registration.user_meta.access_keys[0].secret_access_key }}"
