/pdf-signer/cpdf-binaries-master
/inventory/*
!/inventory/template
/ansible-user-provisioning/inventory/*
!/ansible-user-provisioning/inventory/ansible-admin
/ansible-user-provisioning/inventory/ansible-admin/host_vars/localhost/*

/keys/*

/vaults/*
!vaults/template_aws_creds.yaml

/test-data/creds
/test-data/test_data.yaml
/test-data/profiles
!/test-data/profiles/profile.yaml.template
/test-data/templates

*.swp
/pyenv
