/pdf-signer/cpdf-binaries-master
/inventory/*
!/inventory/template
/ansible-user-provisioning/inventory/*
!/ansible-user-provisioning/inventory/ansible-admin
/ansible-user-provisioning/inventory/ansible-admin/host_vars/localhost/*

/keys/*
/test-data/s3-initial-data/*

*.swp
/pyenv
