{
  "Version": "2012-10-17",
  "Id": "{{ name }}-policy",
  "Statement": [
    {
      "Sid": "DenyUnEncryptedTransport",
      "Effect": "Deny",
      "Principal": "*",
      "Action": [
        "sns:Publish",
        "sns:Subscribe",
        "sns:Receive"
      ],
      "Resource": "{{ arn }}",
      "Condition": {
        "BoolIfExists": {
          "aws:SecureTransport": "false"
        }
      }
    }{% for access in iam_access %}
    {% if access.user in hostvars %},
    {
      "Sid": "access-{{ loop.index }}",
      "Effect": "Allow",
      "Principal": {
        "AWS": "{{ hostvars[access.user].arn }}"
      },
      "Action": {% if access.mode == 'send' %}"sns:Publish"
{% elif access.mode == 'subscribe' %}"sns:Subscribe"
{% else %}"{{ access.mode }}"
{% endif %},
      "Resource": "{{ arn }}"
    }{% endif %}{% endfor %}
  ]
}
