{
  "Version": "2012-10-17",
  "Id": "{{ aws_resource_name }}-policy",
  "Statement": [
    {
      "Sid": "DenyUnEncryptedTransport",
      "Effect": "Deny",
      "Principal": "*",
      "Action": "*",
      "Resource": "{{ resource_arn }}/*",
      "Condition": {
        "BoolIfExists": {
          "aws:SecureTransport": "false"
        }
      }
    },
    {
      "Sid": "DenyUnEncryptedObjectUploads",
      "Effect": "Deny",
      "Principal": "*",
      "Action": "s3:PutObject",
      "Resource": "{{ resource_arn }}/*",
      "Condition": {
        "StringNotEqualsIfExists": {
          "s3:x-amz-server-side-encryption": "AES256"
        }
      }
    }{% for access in iam_access %}
    {% if access.user in hostvars %}
    {% for key, mode in access.key_patterns.iteritems() %},
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "{{ hostvars[access.user].resource_arn }}"
      },
      "Action": {% if mode == 'read_write' %}[
        "s3:GetObject",
        "s3:PutObject"
      ],
{% elif mode == 'read' %}"s3:GetObject",
{% elif mode == 'write' %} "s3:PutObject",
{% else %} "{{ mode }}",
{% endif %}
      "Resource": "{{ resource_arn }}/{{ key }}"
    }{% endfor %}
    {% endif %}
    {% endfor %}
  ]
}
