{
  "Version": "2012-10-17",
  "Id": "{{ aws_resource_name }}-policy",
  "Statement": [
    {
      "Sid": "DenyUnEncryptedTransport",
      "Effect": "Deny",
      "Principal": "*",
      "Action": "sqs:*",
      "Resource": "{{ resource_arn }}",
      "Condition": {
        "BoolIfExists": {
          "aws:SecureTransport": "false"
        }
      }
    }{% for access in iam_access %}
    {% if access.user in hostvars %},
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "{{ hostvars[access.user].resource_arn }}"
      },
      "Action": {% if access.mode == 'dequeue' %}[
        "sqs:DeleteMessage",
        "sqs:GetQueueAttributes",
        "sqs:ReceiveMessage",
        "sqs:GetQueueUrl"
      ]
{% elif access.mode == 'enqueue' %}[
        "sqs:SendMessage",
        "sqs:GetQueueAttributes",
        "sqs:GetQueueUrl"
      ]
{% else %} "{{ access.mode }}"
{% endif %},
      "Resource": "{{ resource_arn }}"
    }{% endif %}{% endfor %}
  ]
}
