[DEFAULT]
aws_access_key={{ hostvars[iam_user].user_aws_access_key }}
aws_secret_key={{ hostvars[iam_user].user_aws_secret_key }}
{% for var, queue in queues.iteritems() %}
{{ var }}={{ hostvars[queue].resource_locator }}
{% endfor %}
{% for var, bucket in buckets.iteritems() %}
{{ var }}={{ hostvars[bucket].resource_locator }}
{% endfor %}
{% for var, topic in topics.iteritems() %}
{{ var }}={{ hostvars[topic].resource_locator }}
{% endfor %}
