{
  "Version": "2012-10-17",
  "Statement": [
{% for key, mode in item.key_patterns.iteritems() %}
{% if loop.index != 1 %},{% endif %}
    {
      "Effect": "Allow",
      "Action": [
{% if mode == 'read_write' %}
        "s3:GetObject",
	"s3:PutObject"
{% elif mode == 'read' %}
        "s3:GetObject"
{% elif mode == 'write' %}
	"s3:PutObject"
{% else %}
        "{{ mode }}"
{% endif %}
      ],
      "Resource": [
        "{{ item.arn }}/{{ key }}"
      ]
    }
{% endfor %}
  ]
}
