{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "sqs:DeleteMessage",
	"sqs:GetQueueAttributes",
	"sqs:ReceiveMessage"
      ],
      "Resource": [
        "{{ item.queue_arn }}"
      ]
    }
  ]
}
