{
  "Version": "2012-10-17",
  "Id": "{{ name }}-policy",
  "Statement": [
    {
      "Sid": "DenyUnEncryptedTransport",
      "Effect": "Deny",
      "Principal": "*",
      "Action": [
        "sns:Publish",
        "sns:Subscribe",
        "sns:Receive"
      ],
      "Resource": "{{ arn }}",
      "Condition": {
        "BoolIfExists": {
          "aws:SecureTransport": "false"
        }
      }
    }{% for access in aws_logical_inventory.sns_topics[inventory_hostname].access %}
    {% if access.user in hostvars %},
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "{{ hostvars[access.user].arn }}"
      },
      "Action": {% if access.mode == 'send' %}"sns:Publish"
{% elif mode == 'receive' %}[
        "sns:Subscribe",
        "sns:Receive"
      ]
{% else %} "{{ access.mode }}"
{% endif %},
      "Resource": "{{ arn }}"
    }{% endif %}{% endfor %}
  ]
}
