{
  "Version": "2012-10-17",
  "Id": "{{ name }}-policy",
  "Statement": [
    {
      "Sid": "DenyUnEncryptedTransport",
      "Effect": "Deny",
      "Principal": "*",
      "Action": "sqs:*",
      "Resource": "{{ arn }}",
      "Condition": {
        "BoolIfExists": {
          "aws:SecureTransport": "false"
        }
      }
    }{% for access in aws_logical_inventory.sqs_queues[inventory_hostname].access %},
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "{{ hostvars[access.user].arn }}"
      },
      "Action": {% if access.mode == 'dequeue' %}[
        "sqs:DeleteMessage",
        "sqs:GetQueueAttributes",
        "sqs:ReceiveMessage",
        "sqs:GetQueueUrl"
      ]
{% else %} "{{ access.mode }}"
{% endif %},
      "Resource": "{{ arn }}"
    }{% endfor %}
  ]
}
